@model PontoDeColetaViewModel

@{
    ViewData["Title"] = "Login";
}

<main class="login">
    <div class="container box-login" id="cadastro">
        <div class="first">
            <img src="~/assets/logo.jpeg" width="160" />
            <h2 class="title-login">Cadastrar Ponto de Coleta</h2>
        </div>
        <form asp-action="Cadastrar" method="post" class="form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" type="text" class="form-control" placeholder="Nome" required>
                    <span class="text-danger" asp-validation-for="Nome"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Descricao"></label>
                    <input asp-for="Descricao" type="text" class="form-control" placeholder="Descrição" required>
                    <span class="text-danger" asp-validation-for="Descricao"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Telefone"></label>
                    <input asp-for="Telefone" type="text" class="form-control" placeholder="Descrição" required>
                    <span class="text-danger" asp-validation-for="Telefone"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CEP"></label>
                    <input asp-for="CEP" type="text" class="form-control" placeholder="CEP" required>
                    <span class="text-danger" asp-validation-for="CEP"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Estado"></label>
                    <input asp-for="Estado" type="text" class="form-control" placeholder="Estado" required>
                    <span class="text-danger" asp-validation-for="Estado"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Cidade"></label>
                    <input asp-for="Cidade" type="text" class="form-control" placeholder="Cidade" required>
                    <span class="text-danger" asp-validation-for="Cidade"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Logradouro"></label>
                    <input asp-for="Logradouro" type="text" class="form-control" placeholder="Logradouro" required>
                    <span class="text-danger" asp-validation-for="Logradouro"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Numero"></label>
                    <input asp-for="Numero" type="text" class="form-control" placeholder="Número" required>
                    <span class="text-danger" asp-validation-for="Numero"></span>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-login">Cadastrar</button>
            </div>
        </form>
    </div>

</main>

<script>
    document.getElementById("cadastro").scrollIntoView();
</script>