@model PontoDeColetaViewModel 

<div class="input-group">
    <input type="text" class="form-control" placeholder="Bairro">
    <input type="text" class="form-control" placeholder="Cidade">
    <input type="text" class="form-control" placeholder="Estado">
    <div class="input-group-append">
        <button type="submit" class="input-group">Buscar</button>
    </div>
</div>